<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-2">
    <img class="gradient-bg" src="images/page1/gradient-bg.png" alt="BG">

    <header>
        <img class="title" src="images/page3/title.png" alt="Title">

        <div class="zan-box">
            <div id="finger_box" class="finger-box"></div>
        </div>

        <div class="zan-wrap">
            <div class="zan-num-box">
                已有<span id="zan_num"></span>人点赞
            </div>
        </div>
        
    </header>

    <section class="content">
        <div class="video">
            <div id="jw_video" class="video"></div>
        </div>

        <div class="style-1">
            <p>
            A trademark of Xi Jinping's governing style is his determination to combat corruption with an iron fist, regardless of the status of the perpetrator. As early as 1988 in Ningde, Fujian Province, Xi led a successful drive to end illegal land occupation.
            </p>
            <img class="line-1" src="images/line-1.png" alt="img-line">
            <p>
                习近平从严治党、铁腕反腐的治国方略，使他近年在海内外都获得了非常高的评价。回溯习近平根植人民、情系群众、致力反腐的“初心”之源，还要从他1988年开始担任福建宁德地委书记说起。
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/304d6a4e31677a6333566d54/img/40dc3b24-2c3c-4be8-b3da-76fff0cc7862.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Xi Jinping was the Party chief of the CPC Ningde Prefectural Committee from 1988 to 1990, despite being the youngest member on the committee.<br/>
            1988年6月，34岁的习近平赴任宁德地委书记，成为当时宁德地委班子中最年轻的一个。
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/304d6a4e31677a6333566d54/img/adb76676-a4f5-4263-a706-5ce6ff8cb083.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Shortly after taking office, Xi spent a month in villages, companies, schools and government departments to conduct surveys. People told him that some officials illegally used public land to build their own houses. Xi was determined to stop the illegal land occupation. He led a team on the first steps of an anti-corruption drive in Ningde.<br/>
            1988年的冬天，当时宁德地区的干部队伍受陈旧观念的影响，纷纷占地建房。在广泛深入调查研究的基础上，习近平决心把查处干部违法违纪占地建房问题作为惩治腐败的突破口在全区全面展开。
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/304d6a4e31677a6333566d54/img/8b46d8f1-8948-4880-8e2f-4c878576293d.jpg" alt="JPG">
        </div>

        <div class="style-4">
            Xi commented on this when interviewed in 2003:<br/>
            在2003年11月接受《东方时空》的采访时，他这样谈到当年的经历：
        </div>

        <div class="style-2">
            <p>
                我就问当时的一个纪委副书记，
                <br/>
                Xi Jinping: I asked an official of the discipline commission
                <br/>
                我说你觉得老百姓意见大不大？
                <br/>
                "Do you think ordinary people are happy with the situation?
                <br/>
                群众意见大不大？
                <br/>
                Are the masses happy with it?"
                <br/>
                大。
                <br/>
                He said of course not.
                <br/>
                是不是当前影响积极性最大的问题？
                <br/>
                I asked: "Isn't it harming people's productivity?"
                <br/>
                是。
                <br/>
                He said, "yes."
                <br/>
                我们将近三百万人该得罪，还是这两三千人该得罪。
                <br/>
                Then I asked if we should upset about 3 million people or two or three thousand of officials who violated the Party's discipline.
                <br/>
                他说那当然是宁肯得罪这两三千人。
                <br/>
                He said, of course we would rather offend the two or three thousand officials.
                <br/>
                我说那咱们就干，要干就干成，义无反顾，开弓没有回头箭。
                <br/>
                I replied, we shall do this, and strive for it without turning back.
            </p>
        </div>
    </section>

    <footer class="footer">
        内容来源：CGTN
        <img class="foot-bg" src="images/foot-bg.png" alt="BG" />
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>