<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-1">
    <img class="gradient-bg" src="images/page1/gradient-bg.png" alt="BG">

    <header>
        <img class="title" src="images/page1/title.png" alt="Title">

        <div class="zan-box">
            <div id="finger_box" class="finger-box"></div>
        </div>

        <div class="zan-wrap">
            <div class="zan-num-box">
                已有<span id="zan_num"></span>人为新时代点赞
            </div>
        </div>
        
    </header>

    <section class="content">
        <div class="video">
            <div id="jw_video" class="video"></div>
        </div>

        <div class="style-1">
            <p>
            2018年，改革开放40周年；<br/>2019年，新中国成立70周年；<br/>2020年，全面建成小康社会；<br/>2021年，中国共产党成立100周年<br/>……
            </p>
            <p class="indent">
            习近平总书记强调，这些重要的时间节点，是我们工作的坐标，更标志着中国开启圆梦复兴的新征程。
            </p>
            <img class="line-1" src="images/line-1.png" alt="img-line">
            <p>
                After 40 years of reform, opening up and development, China is standing in a "new era." The ultimate goal of this period is the "great rejuvenation of the nation," a blueprint set forth by Chinese President Xi Jinping, who plans to push his country forward in a "new era" during which "no one must be left behind."
            </p>
        </div>

        <img class="xi-words" src="images/xi-words.png" alt="IMG">

        <div class="style-2">
            <p>
                中国特色社会主义进入了新时代。<br/>
                Socialism with Chinese characteristics has entered a new era.
            </p>
        </div>

        <div class="style-3">
            <img src="images/page1/img-1.png" alt="JPG">
        </div>

        <div class="style-2">
            <p>
                新时代要有新气象。<br/>
                In this new context, we must get a new look.
            </p>
            <p>
                更要有新作为。<br/>
                And more importantly, make new accomplishments.
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/3267544e77677a6333566d54/img/238bbbac-ce45-44c3-b3b0-97d728588594.jpg" alt="JPG">
        </div>

        <div class="style-2">
            <p>
                2018年我们将迎来改革开放40周年。<br/>
                In 2018, we will mark the 40th anniversary of the launch of reform and opening up.
            </p>
            <p>
                改革开放是决定当代中国命运的关键一招。<br/>
                Reform and opening up is a crucial move that is shaping China's future.
            </p>
            <p>
                40年的改革开放使中国人民生活实现了小康，逐步富裕起来了。<br/>
                Forty years of reform and opening up have made it possible for our people to lead decent and even comfortable lives；
            </p>
            <p>
                我们将坚定不移深化各方面改革，坚定不移扩大开放。<br/>
                We will make determined efforts to comprehensively deepen reform and open China still wider to the world.
            </p>
            <p>
                使改革和开放相互促进，相得益彰。<br/>
                We will see that reform and opening up complement and reinforce each other.
            </p>
            <p>
                我坚信，中华民族伟大复兴必将在改革开放的进程中得以实现。<br/>
                It is my conviction that the great rejuvenation of the Chinese nation will become a reality in the course of reform and opening up.
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/3267544e77677a6333566d54/img/1b06ca5d-cb05-41b8-b825-0b871a7e0524.jpg" alt="JPG">
        </div>

        <div class="style-2">
            <p>
                2019年我们将迎来中华人民共和国成立70周年。<br/>
                In 2019, we will mark the 70th anniversary of the founding of the People's Republic of China.
            </p>
            <p>
                我们将贯彻新发展理念，推动中国经济持续健康发展。<br/>
                We will act on a new vision for development and strive for sustained and healthy economic growth.
            </p>
            <p>
                把我们的人民共和国建设得更加繁荣富强。<br/>
                These efforts will contribute towards a more prosperous and stronger People's Republic.
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/3267544e77677a6333566d54/img/2c3072f9-3da3-45f6-8c1a-d1d94cdd6d54.jpg" alt="JPG">
        </div>

        <div class="style-2">
            <p>
                2020年我们将全面建成小康社会。<br/>
                In 2020, we will establish a moderately prosperous society across all metrics.
            </p>
            <p>
                全面建成小康社会，一个也不能少。<br/>
                This is the society to be enjoyed by each and every one of us.
            </p>
            <p>
                共同富裕路上，一个也不能掉队。<br/>
                On the march towards common prosperity, no one must be left behind.
            </p>
            <p>
                我们将举全党全国之力，坚决完成脱贫攻坚任务，确保兑现我们的承诺。<br/>
                We will mobilize the whole Party and the whole country in a resolute push to deliver on our pledge and eradicate poverty in China.
            </p>
            <p>
                我们要牢记人民对美好生活的向往就是我们的奋斗目标。<br/>
                The aspirations of the people to live a better life must always be the focus of our efforts.
            </p>
            <p>
                坚持以人民为中心的发展思想，不断推进全体人民共同富裕。<br/>
                We must remain committed to a people-centered philosophy of development, and make steady progress towards realizing common prosperity for everyone.
            </p>
            <p>
                2021年我们将迎来中国共产党成立100周年。<br/>
                In 2021, we will mark the centenary of the Communist Party of China.
            </p>
            <p>
                中国共产党立志于中华民族千秋伟业，百年恰是风华正茂。<br/>
                For the Party which fights for the eternal wellbeing of the Chinese nation, the centenary only ushers in the prime of life.
            </p>
            <p>
                中国共产党是世界上最大的政党，大就要有大的样子。<br/>
                As the world's largest political party, the CPC must behave in a way commensurate with this status.
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/3267544e77677a6333566d54/img/27e7c008-0f50-4f9d-ad2e-52ce273c4e8d.jpg" alt="JPG">
        </div>

        <div class="style-2">
            <p>
            实践充分证明，中国共产党能够带领人民进行伟大的社会革命，<br/>
            Its history makes it abundantly clear that the CPC is capable of not only spearheading a great social revolution,
            </p>
            <p>
            也能够进行伟大的自我革命。<br/>
            but also imposing a great reform on itself.
            </p>
            <p>
            我们将继续清除一切侵蚀党的健康肌体的病毒，<br/>
            We must continue to rid ourselves of any virus that erodes the Party's fabric,
            </p>
            <p>
            大力营造风清气正的政治生态，<br/>
            to make great efforts for fostering a healthy political environment of integrity,
            </p>
            <p>
            以全党的强大正能量在全社会凝聚起推动中国发展进步的磅礴力量。<br/>
            and to generate waves of positive energy throughout our Party, which can then build into a mighty nationwide force driving China's development and progress.
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/3267544e77677a6333566d54/img/92410975-e689-4527-a354-d1fc82e4cea8.jpg" alt="JPG">
        </div>

        <div class="style-2">
            <p>
            中国共产党和中国人民从苦难中走过来。<br/>
            The Communist Party of China and the Chinese people have gone through trials and tribulations.</p>
            <p>
            深知和平的珍贵，发展的价值。<br/>
            These experiences have taught us that peace is precious and development must be valued.</p>
            <p>
            中国人民自信自尊，将坚定维护国家主权、安全、发展利益。<br/>
            With confidence and pride the Chinese people will be steadfast in upholding our country's sovereignty, security and development interests.</p>
            <p>
            同时将同各国人民一道，积极推动构建人类命运共同体。<br/>
            We will also work with other nations to build a global community with a shared future.</p>
            <p>
            不断为人类和平与发展的崇高事业作出新的更大的贡献。<br/>
            and make new and greater contributions to the noble cause of peace and development for all humanity.</p>
            <p>
            俗语说，百闻不如一见。<br/>
            As the saying goes, "It is better to see once, than to hear a hundred times."</p>
            <p>
            我们不需要更多的溢美之词。<br/>
            We do not need lavish praise from others.</p>
            <p>
            我们一贯欢迎客观的介绍和有益的建议。<br/>
            However, we do welcome objective reporting and constructive suggestions.</p>
            <p>
            正所谓，“不要人夸颜色好，只留清气满乾坤”。<br/>
            For this is our motto: "Not angling for compliments, I'd be content that my integrity fills the universe."</p>
        </div>
    </section>

    <footer class="footer">
        内容来源：CGTN
        <img class="foot-bg" src="images/foot-bg.png" alt="BG" />
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>