<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-2">
    <img class="gradient-bg" src="images/page1/gradient-bg.png" alt="BG">

    <header>
        <img class="title" src="images/page2/title.png" alt="Title">

        <div class="zan-box">
            <div id="finger_box" class="finger-box"></div>
        </div>

        <div class="zan-wrap">
            <div class="zan-num-box">
                已有<span id="zan_num"></span>人点赞
            </div>
        </div>
        
    </header>

    <section class="content">
        <div class="video">
            <div id="jw_video" class="video"></div>
        </div>

        <div class="style-1">
            <p>
            作为一国元首，常在镜头前出现的习近平很少有机会展现他个人性情的一面。但当他与多年未谋面的老友重聚时，或在繁忙的外事活动间隙里，人们看到了一个不一样的习近平。
            </p>
            <img class="line-1" src="images/line-1.png" alt="img-line">
            <p>
                As the busy leader of a country of over 1.3 billion people, Chinese President Xi Jinping rarely has a chance to show his personal side to the public. But when revisiting old friends or taking a break from diplomatic tasks, he has revealed glimpses of his personality to the world.
            </p>
        </div>

        <div class="style-2">
            <p class="text-center">
                三十年的友谊，你看看
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/577fb641-5a65-41a1-b128-f5c54487cad9.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            In 1985, the Dvorchaks hosted Xi during his visit to Iowa. Xi invited them to China 30 years later and hosted them at the Diaoyutai State Guesthouse.
        </div>

        <div class="style-2">
            <p class="text-center">
                我过去，您别站起来了
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/5f76a564-5065-4245-a359-448ea9c06e1f.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Xi awarded medals to Russian veterans for their contributions to China's victory against Japanese aggression and the World Anti-Fascist War. Many of the veterans attending the event had limited mobility, so Xi brought the medals over to them.
        </div>

        <div class="style-2">
            <p class="text-center">
                我也是了却一个心愿
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/09307774-0bd9-4238-bddd-fce3d76b124f.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            In 2001, Jim Bacon, then premier of Tasmania, met Xi in China and invited him to visit. In 2014, Xi kept his promise. Unfortunately, Bacon had passed away. Xi still paid a visit to Bacon's family. 
        </div>

        <div class="style-2">
            <p class="text-center">
                我们两人吃一块就好
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/90ed6af9-3eeb-4c8c-b7d3-3688dfc4816d.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Once a farmer himself, Xi feels close to ordinary people. He paid a visit to a Costa Rican family in 2013.
        </div>

        <div class="style-2">
            <p class="text-center">
                和体育明星自拍
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/9948afd8-bc8d-40c3-aa5f-c4a3999676bd.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Xi's a big fan of all kinds of sports. He paid a visit to the Manchester City Football Club and took a selfie with Cameron and Manchester City star Sergio Aguero.
        </div>

        <div class="style-2">
            <p class="text-center">
                要看千年的中国去西安，看五百年的中国去北京，看一百年的中国去上海
            </p>
        </div>

        <div class="style-3">
            <img src="https://news.cgtn.com/news/30676a4e78677a6333566d54/img/bca27659-a533-4cba-8c35-bcd4bc05570e.jpg" alt="JPG">
        </div>

        <div class="paragraph">
            Xi's popular among young people. He met some students at Lincoln High School in Washington State in 2015.
        </div>
    </section>

    <footer class="footer">
        内容来源：CGTN
        <img class="foot-bg" src="images/foot-bg.png" alt="BG" />
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>