<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-1">
    <header>
        
        
    </header>

    <section class="content">
        
    </section>

    <footer class="footer">
        
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>