<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-2">
    <header>
        
    </header>

    <section class="content">
        <h1>Page 2</h1>
    </section>

    <footer class="footer">
        
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>