<!DOCTYPE html><% var version = Math.random().toString(36).substr(2) %>
<html lang="en">
<head>
    <%- include src/html/partials/head %>
</head>
<body class="page-2">
    <img class="gradient-bg" src="images/page1/gradient-bg.png" alt="BG">

    <header>
        <img class="title" src="images/page4/title.png" alt="Title">

        <div class="zan-box">
            <div id="finger_box" class="finger-box"></div>
        </div>

        <div class="zan-wrap">
            <div class="zan-num-box">
                已有<span id="zan_num"></span>人点赞
            </div>
        </div>
        
    </header>

    <section class="content">
        <div class="video">
            <div id="jw_video" class="video"></div>
        </div>

        <div class="style-1">
            <p>
            上世纪90年代初，改革开放潮涌，曾经互相敌对的大陆和台湾开始通商，台湾企业家瞅准了大陆丰富而低廉的资源、劳动力和广阔的市场进行投资，台资逐渐成为福州市第二大境外资金来源。
            </p>
            <p>
            In the early 1990s, economic exchanges across the Taiwan Strait were gradually restored under the reform and opening up policy. With its resources, labor and market, the Chinese mainland was attracting enormous interest from Taiwan's entrepreneurs. The island quickly became the second biggest source of investment for the coastal city of Fuzhou. 
            </p>
            <img class="full-img" src="https://news.cgtn.com/news/3063544f32677a6333566d54/img/c5584bf2-d7b0-4ac8-abab-870c145a5848.jpg" alt="JPG">
            <p>
            然而，当时投资办厂的流程手续极其繁杂，难倒了一批台湾老板。1990年，习近平从福建宁德地区调到福州工作，他结合当时的实际情况倡导马上就办的精神。
            </p>
            <p>
            But the enthusiasm of Taiwanese investors soon cooled when they were confronted with the daunting approvals process. In 1990, Xi Jinping took up a leadership position in Fuzhou. After carefully studying the situation, he proposed the adoption of a new spirit – Do It Now.
            </p>
            <img class="full-img" src="https://news.cgtn.com/news/3063544f32677a6333566d54/img/31c33ad3-d7f0-4ba8-b7e8-4c9b3546998a.jpg" alt="JPG">
            <p>一系列举措之后，习近平主政的福州经济快速发展，1990年到1995年，全市GDP相继超过100亿元、200亿元、300亿元、400亿元，远远超过全国平均增长率，福州迅速跻身于全国大中城市前列。
            </p>
            <p>
            The local government's new policy unleashed Fuzhou's potential. From 1990 to 1995, the city's GDP shot up to over 40 billion yuan from less than 10 billion yuan, far outstripping the national average growth rate. Fuzhou was soon recognized as a major boom town.
            </p>
            <br/>
            <p>20年后的福州政府部门仍在坚持这个服务承诺。</p>
            <p>Twenty years on, the Fuzhou government remains committed to the policy of "Do It Now".</p>
            <img class="line-1" src="images/line-1.png" alt="img-line">
            <img class="full-img" src="https://news.cgtn.com/news/3063544f32677a6333566d54/img/e4f69f6a-8d31-45a5-b137-408ec02611d7.jpg" alt="JPG">
        </div>

        <img class="xi-words" src="images/xi-words.png" alt="IMG">

        <div class="style-2">
            <p>
                （就是说）我们现在的大量的问题
                <br/>
                Right now we're faced with lots of problems
                <br/>
                不是说没有好的处方，
                <br/>
                for which there's no lack of proper solutions. 
                <br/>
                而是没有人去动手解决。
                <br/>
                What it takes is the will to get things done. 
                <br/><br/>

                所以现在的话我说要提倡行动至上，
                <br/>
                That's why I insist on action, 
                <br/>
                理论、方针、政策部署都有了, 由谁去落实？
                <br/>
                which is essential in implementing our theories, guidelines and policies. 
                <br/>
                所以从这个角度要强化抓落实的这个力度。
                <br/>
                Effective implementation is the key to success.
            </p>
        </div>
    </section>

    <footer class="footer">
        内容来源：CGTN
        <img class="foot-bg" src="images/foot-bg.png" alt="BG" />
    </footer>

    <%- include src/html/partials/scripts %>
</body>
</html>