<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.page.title || 'CGTN' %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- CSS -->
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <% if(htmlWebpackPlugin.files.css[css].indexOf(htmlWebpackPlugin.options._entry) !== -1) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>?v=<%= version%>" rel="stylesheet">
    <% } %>
<% } %>

<!-- Analytics -->
<!-- GTM -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJS99CV');</script>
<!-- End GTM -->