/*
 * @Author: Nokey 
 * @Date: 2017-10-24 14:29:26 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-03-05 18:27:00
 */

@import '~nib/lib/nib/index.styl'
@import './utils/reset'

body
    position relative
    width 100%
    max-width 800px
    margin 0 auto
    font-family 'Roboto'
    font-size 1.6rem

.bg-cover
    background-repeat no-repeat
    background-size: cover
    background-position: center center

/*
 * Layout
 */
.layout__wrap
    width 100%
    max-width 720px
    margin 0 auto

.layout__wrap-1
    width 100%
    max-width 1200px
    margin 0 auto

/*
 * Article 1
 */


/**
 *  Main Content
 */
