/*
 * @Author: Nokey 
 * @Date: 2017-10-24 14:29:26 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-03-05 18:27:00
 */

@import '~nib/lib/nib/index.styl'
@import './utils/reset'

body
    position relative
    width 100%
    max-width 800px
    margin 0 auto
    font-family 'Roboto'
    font-size 1.6rem

.bg-cover
    background-repeat no-repeat
    background-size: cover
    background-position: center center

/*
 * Layout
 */
.layout__wrap
    width 100%
    max-width 720px
    margin 0 auto

.layout__wrap-1
    width 100%
    max-width 1200px
    margin 0 auto

/*
 * Article 1
 */

.gradient-bg
    position absolute
    left 0
    top 0
    width 100%
    z-index -10

.footer
    position relative
    height 40px
    line-height 40px
    text-align center
    font-size 1.4rem
    color #979797
    width 100%

    .foot-bg
        position absolute
        left 0
        bottom 0
        width 100%
        height auto
        display block

.title
    display block
    width 70%
    margin 0 auto
    padding-top 40px

.zan-box
    margin 20px auto
    height 80px
    width 80px
    background-image url(../images/circle.png)
    background-size contain
    background-repeat no-repeat
    display flex
    justify-content center
    align-items center

    .finger-box
        width 60%
        height 60%
        background-image url(../images/finger.png)
        background-size contain
        background-repeat no-repeat

.zan-wrap
    text-align center

.zan-num-box
    position relative
    display inline-block
    font-size 1.8rem
    color #fff
    font-weight bold
    padding 0.5em 1em
    background linear-gradient(#c03d42, #a42326)
    border-radius 1em

    &:before
        content ''
        position absolute
        display block
        background-image url(../images/top-triangle.png)
        background-size contain
        background-repeat no-repeat
        width 30px
        height 15px
        left 50%
        top -15px
        margin-left -15px

/**
 *  Main Content
 */
.content
    padding 20px 20px 0

    .video
        border-radius 10px
        overflow hidden

    .text-center
        text-align center

    .paragraph
        margin 20px 0
        line-height 1.6em
        color #14354a


.style-1
    margin 20px 0
    border 1px solid #d4cb8f
    padding 0.8em

    p
        line-height 1.6em
        color #14354a

    .indent
        text-indent 2em

    .line-1
        display block
        margin 15px 0
        width 100%

    .full-img
        margin 30px 0 15px
        display block
        width 100%

.xi-words
    display block
    height 45px

.style-2
    position relative
    margin 60px 0

    &:before
        content ''
        position absolute
        left 2px
        top -28px
        width 75px
        height 20px
        background-image url(../images/left-quote.png)
        background-size contain
        background-repeat no-repeat

    &:after
        content ''
        position absolute
        right 2px
        bottom -28px
        width 75px
        height 20px
        background-image url(../images/right-quote.png)
        background-size contain
        background-repeat no-repeat

    p
        padding 0 .5em
        line-height 1.6em
        margin-top 0.6em

.style-3
    margin 60px 0 30px
    border 2px solid #fff
    box-shadow: 3px 2px 5px #ccc

    img
        display block
        width 100%

.style-4
    line-height 2em
    background-color #78a0e2
    padding 0.5em
    color #fff